.root {
    -fx-fill: gray;
}

.alive-cell {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.dead-cell {
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}